<div class="container" *ngIf="currentUser">

<!--  <p>-->
<!--    <strong>Token:</strong>-->
<!--    {{ currentUser.accessToken.substring(0, 20) }} ...-->
<!--    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}-->
<!--  </p>-->
<!--  <p>-->
<!--    <strong>Email:</strong>-->
<!--    {{ currentUser.email }}-->
<!--  </p>-->
<!--  <strong>Roles:</strong>-->
<!--  <ul>-->
<!--    <li *ngFor="let role of currentUser.roles">-->
<!--      {{ role }}-->
<!--    </li>-->
<!--  </ul>-->

  <div *ngIf="userDerails != null">

    <div class="row">
      <div class="col-md-8 offset-md-2">

        <div class="btn-group">
                <span class="mr-2"><a (click)="goToPrincipalHistoryPage()"
                                      class="btn btn-light">See history</a></span>
          <span class="mr-2"><a (click)="goToEditUserPage()" class="btn btn-light">Edit user</a></span>
          <span class="mr-2 mb-3"><a (click)="goToAddAddressPage()" class="btn btn-light">Add address</a></span>
        </div>

        <div class="card bg-light mb-3" style="max-width: 30rem;">
          <div class="card-header">{{userDerails.firstName}} {{userDerails.lastName}}</div>
          <div class="card-body">
            <p class="card-text"><b>Username: </b>{{userDerails.username}}</p>
            <p class="card-text"><b>Email: </b>{{userDerails.email}}</p>
            <p class="card-text"><b>Phone number: </b>{{userDerails.phoneNumber}}</p>
            <p class="card-text"><b>Addresses:</b></p>
            <div *ngFor="let address of userDerails.addresses">
              <div class="card mb-3">
                <div class="card-header">
                  <p class="card-text"><b>Address</b></p>
                </div>
                <div class="card-body">
                  <p class="card-text"><b>Street: </b>{{address.street}}</p>
                  <p class="card-text"><b>Number: </b>{{address.streetNumber}}</p>
                  <p class="card-text"><b>City: </b>{{address.city}}</p>
                  <p class="card-text"><b>Country: </b>{{address.country}}</p>
                </div>
                <div class="card-footer">
                  <span class="mr-2"><a (click)="goToEditAddressPage(address.id)" class="btn btn-light">Edit address</a></span>
                  <span class="mr-2"><a (click)="deleteAddress(address)" class="btn btn-light">Delete address</a></span>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #loggedOut>
  Please login.
</ng-template>
